<ion-view title="Home">
    <ion-content overflow-scroll="true" class="hasBottom">
        <div class="fullWidth">
            <div class="list">
                <div class="wide-item">
                    <div class="wide-item-titles">
                        <h4>Book Hotel</h4>
                        <p>Get quotes on hotel booking</p>
                    </div>
                    <div class="wide-image">
                        <div class="overlay"></div>
                        <a class="swipebox-wide" href title="Your caption here!"><img class="responsive-image" src="img/hotelsbooking.png" alt="img"></a>
                    </div>
                </div>
                <div class="wide-item">
                    <div class="wide-item-titles">
                        <h4>Tile image gallery</h4>
                        <p>Add a caption, tap the image, and see the result!</p>
                    </div>
                    <div class="wide-image">
                        <div class="overlay"></div>
                        <a class="swipebox-wide" href title="Your caption here!"><img class="responsive-image" src="img/2w.png" alt="img"></a>
                    </div>
                </div>
                <div class="wide-item">
                    <div class="wide-item-titles">
                        <h4>Tile image gallery</h4>
                        <p>Add a caption, tap the image, and see the result!</p>
                    </div>
                    <div class="wide-image">
                        <div class="overlay"></div>
                        <a class="swipebox-wide" href title="Your caption here!"><img class="responsive-image" src="img/2w.png" alt="img"></a>
                    </div>
                </div>
                <div class="wide-item">
                    <div class="wide-item-titles">
                        <h4>Tile image gallery</h4>
                        <p>Add a caption, tap the image, and see the result!</p>
                    </div>
                    <div class="wide-image">
                        <div class="overlay"></div>
                        <a class="swipebox-wide" href title="Your caption here!"><img class="responsive-image" src="img/2w.png" alt="img"></a>
                    </div>
                </div>
                <div class="wide-item">
                    <div class="wide-item-titles">
                        <h4>Tile image gallery</h4>
                        <p>Add a caption, tap the image, and see the result!</p>
                    </div>
                    <div class="wide-image">
                        <div class="overlay"></div>
                        <a class="swipebox-wide" href title="Your caption here!"><img class="responsive-image" src="img/2w.png" alt="img"></a>
                    </div>
                </div>
                <div class="wide-item">
                    <div class="wide-item-titles">
                        <h4>Tile image gallery</h4>
                        <p>Add a caption, tap the image, and see the result!</p>
                    </div>
                    <div class="wide-image">
                        <div class="overlay"></div>
                        <a class="swipebox-wide" href title="Your caption here!"><img class="responsive-image" src="img/2w.png" alt="img"></a>
                    </div>
                </div>
                <div class="wide-item">
                    <div class="wide-item-titles">
                        <h4>Tile image gallery</h4>
                        <p>Add a caption, tap the image, and see the result!</p>
                    </div>
                    <div class="wide-image">
                        <div class="overlay"></div>
                        <a class="swipebox-wide" href title="Your caption here!"><img class="responsive-image" src="img/2w.png" alt="img"></a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
