<ion-view hide-nav-bar="true"> 
    <ion-content overflow-scroll="true">
        <div class="fullWidth">
            <div class="list">
                <div class="wide-item">
                    <div class="wide-item-titles">
                        <h4>Tile image gallery</h4>
                        <p>Add a caption, tap the image, and see the result!</p>
                    </div>
                    <div class="wide-image">
                        <div class="overlay"></div>
                        <a class="swipebox-wide" href title="Your caption here!"><img class="responsive-image" src="img/2w.png" alt="img"></a>
                    </div>
                </div>
                <div class="wide-item">
                    <div class="wide-item-titles">
                        <h4>Tile image gallery</h4>
                        <p>Add a caption, tap the image, and see the result!</p>
                    </div>
                    <div class="wide-image">
                        <div class="overlay"></div>
                        <a class="swipebox-wide" href title="Your caption here!"><img class="responsive-image" src="img/2w.png" alt="img"></a>
                    </div>
                </div>
                <div class="wide-item">
                    <div class="wide-item-titles">
                        <h4>Tile image gallery</h4>
                        <p>Add a caption, tap the image, and see the result!</p>
                    </div>
                    <div class="wide-image">
                        <div class="overlay"></div>
                        <a class="swipebox-wide" href title="Your caption here!"><img class="responsive-image" src="img/2w.png" alt="img"></a>
                    </div>
                </div>
                <div class="wide-item">
                    <div class="wide-item-titles">
                        <h4>Tile image gallery</h4>
                        <p>Add a caption, tap the image, and see the result!</p>
                    </div>
                    <div class="wide-image">
                        <div class="overlay"></div>
                        <a class="swipebox-wide" href title="Your caption here!"><img class="responsive-image" src="img/2w.png" alt="img"></a>
                    </div>
                </div>
                <div class="wide-item">
                    <div class="wide-item-titles">
                        <h4>Tile image gallery</h4>
                        <p>Add a caption, tap the image, and see the result!</p>
                    </div>
                    <div class="wide-image">
                        <div class="overlay"></div>
                        <a class="swipebox-wide" href title="Your caption here!"><img class="responsive-image" src="img/2w.png" alt="img"></a>
                    </div>
                </div>
                <div class="wide-item">
                    <div class="wide-item-titles">
                        <h4>Tile image gallery</h4>
                        <p>Add a caption, tap the image, and see the result!</p>
                    </div>
                    <div class="wide-image">
                        <div class="overlay"></div>
                        <a class="swipebox-wide" href title="Your caption here!"><img class="responsive-image" src="img/2w.png" alt="img"></a>
                    </div>
                </div>
                <div class="wide-item">
                    <div class="wide-item-titles">
                        <h4>Tile image gallery</h4>
                        <p>Add a caption, tap the image, and see the result!</p>
                    </div>
                    <div class="wide-image">
                        <div class="overlay"></div>
                        <a class="swipebox-wide" href title="Your caption here!"><img class="responsive-image" src="img/2w.png" alt="img"></a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="tabs-striped tabs-color-assertive">
      <div class="tabs">
        <a class="tab-item active" href="#">
          <i class="icon ion-home"></i>
          Test
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-star"></i>
          Favorites
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-gear-a"></i>
          Settings
        </a>
      </div>
  </div>
</ion-view>
