<ion-content>
    <div class="row margin-left5">
        <div class="col-90">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <input type="text" placeholder="Email Address">
                </label>
                <label class="item item-input item-stacked-label">
                    <input type="password" placeholder="Password">
                </label>
                <label class="item item-input item-stacked-label">
                    <input type="text" placeholder="First Name">
                </label>
                <label class="item item-input item-stacked-label">
                    <input type="text" placeholder="Last Name">
                </label>
            </div>
            <button class="button button-block button-assertive">
                Sign Up
            </button>
        </div>
    </div>
</ion-content>
