<ion-view>
    <ion-nav-view name="mainContent"></ion-nav-view>
    <div class="tabs-striped tabs-color-assertive">
        <div class="tabs">
            <a class="tab-item active" href="app/tabs/home">
                <i class="icon ion-home"></i> Home
            </a>
            <a class="tab-item" href="app/tabs/requestlist">
                <i class="icon ion-android-list"></i> Request List
            </a>
            <a class="tab-item" href="app/tabs/notifications">
                <i class="icon ion-android-notifications"></i>Notification
            </a>
            <a class="tab-item" href="app/tabs/chats">
                <i class="icon ion-chatbox-working"></i> Chats
            </a>
        </div>
    </div>
</ion-view>
